.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.options {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.option {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.title,
.question {
  margin-bottom: 2rem;
}

.question {
  font-size: 1.3rem;
}

.correct {
  color: #43A047;
}

.incorrect {
  color: #e53935;
}